<!DOCTYPE html>
<html lang ="eng">
<head>
    <meta charseet - "UTF-8">
    <meta name = "viewport" content = "with=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content ="ie=edge">
    <title>E-mail Registration</title>
    <style>
                
            .box1 {
                width: 400px;
                height: 50px;
                display: inline-block;
                background: white;
                border: 10px solid black;
                text-align: right;
            }
    </style>
</head>
<body>

        <h1>You are now logged in.</h1>

    
</body>
</html>